@import '../lib/colors.less';


body {
	background: @col-pri-lum-3;
	color: rgba(255,255,255,0.5);
	}

#topbg {
	background: @col-pri-lum-2;
	}

#header {
	background: @col-pri-lum-2;
	#hdr-box1 { background: @col-pri-lum-4 }
	#hdr-box2 { background: @col-pri-lum-3 }
	#hdr-box3 { background: @col-pri-lum-1 }
	#hdr-box4 { background: @col-pri-lum-0 }
	#hdr-overlay {
		background-image: url('header-dark.png');
		}
	h2 {
		color: rgba(0,0,0,0.33);
		}
	}




#menu {
	border-color: @col-sec1-lum-1;
	a {
		background: @col-sec1-lum-4;
		color: @col-sec1-lum-0;
		&:hover {
			background: @col-sec1-lum-0;
			color: @col-sec1-lum-4;
			}
		&.sel {
			background: @col-sec1-lum-1;
			color: @col-sec1-lum-4;
			}
		span {
			background: @col-sec1-lum-2;
			}
		}
	}

#content {
	color: rgba(255,255,255,0.5);
	a {
		color: @col-pri-lum-0;
		background: transparent;
		&:hover {
			color: @col-compl-lum-3;
			background: @col-compl-lum-0;
			}
		}
	.ttl {		
		color: @col-sec2-lum-0;
		}
	}

#left {
	border-color: @col-pri-lum-0;
	#ico {
		background: @col-pri-lum-1;
		}
	ul {
		color: @col-sec2-lum-1;
		}
	}

#right {
	h3 span {
		background: @col-sec2-lum-1;
		border-color: @col-sec2-lum-2;
		}
	#rbox {
		background: @col-sec2-lum-0;
		color: @col-sec2-lum-4;
		span {
			background: @col-sec2-lum-2;
			}
		}
	button {
		color: @col-compl-lum-3;
		background: @col-compl-lum-0;
		border-color: @col-compl-lum-0;
		&:hover {
			color: @col-compl-lum-1;
			background: @col-compl-lum-4;
			}
		}
	}

#footer {
	color: @col-sec2-lum-0;
	background: @col-sec2-lum-4;
	border-color: @col-sec2-lum-1;
	a {
		color: @col-sec2-1;
		background: transparent;
		&:hover {
			color: @col-compl-lum-3;
			background: @col-compl-lum-0;
			}
		}
	}
